<!-- Takes array of trip data and populates main div on page-->

{{#each this}}
<div class="trip-info item" visited="{{visited}}">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{location}}
    </div>
    <div class="panel-body">
      <img src="https://maps.googleapis.com/maps/api/staticmap?center={{location}}&zoom={{zoom}}&size=250x250&maptype=roadmap"
      <ul class="list-group">
      {{#each reviews}}
        {{#if this}}
        <li class="list-group-item">{{title}} | {{date}}<span class="glyphicon glyphicon-chevron-down"></span></li>
        <li class="list-group-item reviewText">{{text}}</li>
        {{/if}}
      {{/each}}
      </ul>
    </div>
    <div class="panel-footer">
      <button class="btn btn-xs addReviewButton" visited="{{visited}}" id="add-review#{{@key}}">Add Review</button>
      <button class="btn btn-xs crossOffButton" visited="{{visited}}" id="cross-off#{{@key}}">Cross This Off My Bucket List</button>
    </div>
  </div>
</div>
{{/each}}